.subscribe{
    /* margin-top:200px; */
    color:#fff;
    margin-left: 60px;
    margin-bottom: 250px;;
}
.subscribe h5{
    text-transform: uppercase;
    opacity: .8;
}
.subscribe h3{
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
}
footer{
    width:100%;
    color:#fff;
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.footer_left{
    display: flex;
    align-items: center;
    gap:20px;
    text-transform: uppercase;
}
.footer_right{
    display: flex;
    gap: 30px;
    align-items: center;
    
}
.footer_right a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 500;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease ;

}
.footer_right a:hover{
    border-bottom: 2px solid #fff;
}